<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link rel="stylesheet"
	href="https://g.alicdn.com/de/prismplayer/2.8.0/skins/default/aliplayer-min.css" />
<script charset="utf-8" type="text/javascript"
	src="https://g.alicdn.com/de/prismplayer/2.8.0/aliplayer-h5-min.js"></script>

</head>

<style th:replace="index :: style">

</style>

<style>
.contentImg {
	max-width: 300px;
	width: auto;
	height: auto;
}

.prism-player .prism-cover {
	background-color: none;
	display: block;
}

.prism-player .prism-marker-text {
	display: none;
}
</style>
</head>

<body>

	<nav th:replace="index :: navbar"></nav>

	<div class="row">
		<div class="col-lg-2 container">
			<div class="card">
				<img class="card-img-top" th:src="${article.picture}" alt="">
				<div class="card-body">
					<h4 class="card-title" th:text="${article.title}">Product
						title</h4>
					<h6 class="card-subtitle mb-2 text-muted"
						th:text="${df.format(T(java.time.Instant).ofEpochMilli(article.lastEditedTime))}">Card
						subtitle</h6>
					<p class="card-text" th:text="${article.abstraction}"></p>
					<input hidden id="articleUuidHiddenInput" type="text"
						th:value="${article.uuid}"></input> <input hidden
						id="articleIsLikeByUser" type="text"
						th:value="${article.getExtension('isLike')?.get(0)}"></input>
					<div class="btn-group">

						<button hidden type="button"
							class="btn-light likeButton btn xmlButton"
							th:data-like-isLiked="${article.getExtension('isLiked')?.get(0)}"
							th:data-like-uuid="${article.uuid}"
							th:data-like-count="${article.getExtension('likeCount')?.get(0)}"
							th:data-like-count-display="${'likeCountDisplay'+article.uuid}">点赞</button>

						<a href="#replieSection"><button type="button"
								class=" btn btn-light">回复</button></a>
						<button type="button" class=" btn btn-light">转发</button>
					</div>
				</div>
				<div class="card-footer text-right pr-0 pb-0 pt-0">
					<span class='badge badge-small'><i class="fa fa-thumbs-up"></i></span><small
						class="small" th:id="${'likeCountDisplay'+article.uuid}"></small>
					<span class='badge badge-small'><i class="fa fa-reply"></i></span>
					<small class="small"
						th:text="${article.getExtension('replyCount')?.get(0)}"></small> <span
						class='badge badge-small'><i class="fa fa-eye"></i></span><small
						class="small" id="viewCount"
						th:text="${article.getExtension('viewCount')?.get(0)}"></small><a
						th:href="${'/article/'+article.uuid}"></a> <a
						th:if="${roles.contains('ROLE_ADMIN')}"
						th:href="${'/admin/article/addOrUpdate/'+article.uuid}">
						<button type="button" class=" btn btn-primary rounded-0">编辑</button>
					</a>

				</div>
			</div>
		</div>
		<div class="col-lg-10 container">
			<h3 th:text="${article.title}"></h3>
			<hr />
			<div class="row">
				<div th:each="videoId:${article.videoIds}"
					class="col-lg-3 embed-responsive mx-3">
					<h5 th:text="${videoTitleMap.get(videoId)}"></h5>
					<div class="prism-player " th:id="'player'+${videoId}"
						th:data-vod-play-auth="${playAuthMap.get(videoId)}"
						th:data-vod-video-id="${videoId}"
						th:data-vod-cover="${videoCoverMap?.get(videoId)}"></div>
				</div>
			</div>
			<hr />
			<div th:utext="${article.content}"></div>
		</div>
	</div>

	<div id="replieSection" class="row">
		<div class="container mt-3">
			<h3>发言</h3>

			<form th:action="${'/reply/'+article.uuid}" method="POST">
				<div class="input-group">
					<input name="message" autofocus class="form-control width100">
					<span class="input-group-btn">
						<button class="btn btn-info">发表评论</button>
					</span>
				</div>
			</form>
			<hr />
			<div>
				<div th:each="reply:${replies}" th:id="'reply'+${reply.uuid}">
					<span
						th:text="${'['+df.format(T(java.time.Instant).ofEpochMilli(reply.time))+']'}">time</span>
					<span th:text="${reply.username}">username</span> <span>:</span> <span
						th:text="${reply.message}">message</span>
					<div class="btn-group">


						<buttun hidden class="btn btn-sm btn-light likeButton xmlButton"
							th:data-like-isLiked="${reply.getExtension('isLiked')?.get(0)}"
							th:data-like-uuid="${reply.uuid}"
							th:data-like-count="${reply.getExtension('likeCount')?.get(0)}"
							th:data-like-count-display="${'likeCountDisplay'+reply.uuid}">
						<span class="likeDisplay"><i class="fa fa-thumbs-up"></i> <span
							class="likeCount" th:id="${'likeCountDisplay'+reply.uuid}"></span></span></buttun>


						<buttun hidden
							class="btn btn-sm btn-light deleteReplyButton xmlButton"
							th:if="${roles.contains('ROLE_ADMIN')}"
							th:data-like-uuid="${reply.uuid}">删除</buttun>
						<buttun class="btn btn-sm btn-light" href="#">举报</buttun>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="footerSection" class="py-5 m-0"></div>

	<div>
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
		<script
			src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			//button.likeButton implementation summary:
			//1. a likeButton is set hidden in plain HTML(hidden is removed on window load).
			//2. a boolean, data-like-isLiked, is set by server
			//3. a string, data-like-uuid, which is the uuid of the article/reply, is set by server. 
			//3. count of likes is displayed with a span. The id and the initial count value are set by the server.
			//4. a string, data-like-count-display, stores the id of the span in (3.)
			//5. a string, data-like-count, stores the count of likes, initialized by the server.
			$(window)
					.on(
							'load',
							function() {
								$('.prism-player').each(function() {
									createAliplayer($(this));
								});
								$('.deleteReplyButton').on('click', function() {
									deleteReply($(this));
								});

								$('.xmlButton').prop("hidden", false);
								$('.likeButton').each(function() {
									setBgColorForLikeButton($(this));
								});
								$('.likeButton').each(function() {
									displayCountForLikeButton2($(this));
								});
								$('.likeButton')
										.on(
												'click',
												function() {
													var liked = (($(this)
															.attr("data-like-isLiked")) === 'true');
													var uuid = $(this).attr(
															"data-like-uuid");
													//send like/unlike http requests accordingly

													if (liked) {
														unlike($(this), uuid);
													} else {
														like($(this), uuid);
													}

													//above is whatever happends before toggling:
													//toggle like/unlike
													toggleBooleanAttr($(this),
															"data-like-isLiked");
													//below is whatever happends after toggling: 
												});
							});

			function toggleBooleanAttr($e, attr) {
				var liked = ($e.attr(attr) === 'true');
				if (liked) {
					$e.attr(attr, 'false');
				} else {
					$e.attr(attr, 'true');
				}
			};

			function like($e, uuid) {
				var xhr = new XMLHttpRequest();
				var url = "/like";
				xhr.open("POST", url, true);
				xhr.setRequestHeader("Content-Type", "application/json");
				xhr.onreadystatechange = function() {
					if (xhr.readyState === 4 && xhr.status === 200) {
						var json = JSON.parse(xhr.responseText);
						displayCountForLikeButton($e, json.count);
						setBgColorForLikeButton($e);
					} else if (xhr.readyState === 4 && xhr.status != 200) {
						alert("请登录");
					}
				};
				var data = JSON.stringify({
					"articleUuid" : uuid
				});
				xhr.send(data);
			}

			function unlike($e, uuid) {
				var xhr = new XMLHttpRequest();
				var url = "/un_like";
				xhr.open("POST", url, true);
				xhr.setRequestHeader("Content-Type", "application/json");
				xhr.onreadystatechange = function() {
					if (xhr.readyState === 4 && xhr.status === 200) {
						var json = JSON.parse(xhr.responseText);
						displayCountForLikeButton($e, json.count);
						setBgColorForLikeButton($e);
					} else if (xhr.readyState === 4 && xhr.status != 200) {
						alert("请登录");
					}
				};
				var data = JSON.stringify({
					"articleUuid" : uuid
				});
				xhr.send(data);
			}

			function deleteReply($e) {
				var uuid = $e.attr("data-like-uuid");
				var url = "/admin/reply/delete/"
				var xhr = new XMLHttpRequest();
				xhr.open("POST", url, true);
				xhr.setRequestHeader("Content-Type", "application/json");
				xhr.onreadystatechange = function() {
					if (xhr.readyState === 4 && xhr.status === 200) {
						var json = JSON.parse(xhr.responseText);
						$("#reply" + uuid).remove();
					} else if (xhr.readyState === 4 && xhr.status != 200) {
						alert("需要管理员权限/内部错误");
					}
				};
				var data = JSON.stringify({
					"replyUuid" : uuid
				});
				xhr.send(data);
			}

			function displayCountForLikeButton($lbtn, count) {
				var countDisplayId = $lbtn.attr("data-like-count-display");
				var $countDisplay = $("#" + countDisplayId);
				$countDisplay.text(count);
			}

			function displayCountForLikeButton2($lbtn) {
				var count = $lbtn.attr("data-like-count");
				var countDisplayId = $lbtn.attr("data-like-count-display");
				var $countDisplay = $("#" + countDisplayId);
				$countDisplay.text(count);
			}

			function setBgColorForLikeButton($lbtn) {
				var liked = (($lbtn.attr("data-like-isLiked")) === 'true');
				if (liked) {
					$lbtn.css('background-color', 'red');
				} else {
					$lbtn.css('background-color', '');
				}
			}
		</script>

		<script>
			function createAliplayer($e) {
				var player = new Aliplayer({
					id : $e.attr("id"),
					width : '100%',
					height : '500px',
					autoplay : false,
					//source : '播放url',
					vid : $e.attr("data-vod-video-id"),
					playauth : $e.attr("data-vod-play-auth"),
					cover : $e.attr("data-vod-cover"),
				}, function(player) {
					console.log('一个播放器创建好了。')
				});
			}
		</script>
	</div>
</body>
</html>