<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.nav-item:hover {
	background-color: white;
}
</style>

</head>

<body>
	<form method="post">
		<div class="form-group">
			<label for="content" th:text="${'Current content: '+content}"></label>
			<input type="text" name="content" class="form-control" id="content"
				aria-describedby="contentHelp" placeholder="Enter content">
			<small id="contentHelp" class="form-text text-muted">Some
				notes</small>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	<div>
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
		<script
			src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
	</div>



	<div class="btn-group" role="group" aria-label="Basic example">
		<form action="/memento/save" method="post">
			<button type="submit" class="btn btn-secondary">Save</button>
		</form>
		<form action="/memento/rollback" method="post">
			<button type="submit" class="btn btn-secondary">Roll back</button>
		</form>
		<form action="" method="post">
			<button type="submit" class="btn btn-secondary"></button>
		</form>
	</div>

</body>
</html>