<html>

<head>


<link
	href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
.nav-item:hover {
	
}

body {
	background-color: #a3e2c5 !important;
}

.card-footer {
	background-color: #d0f4e4 !important;
}

.container {
	background-color: #f6fefa !important;
}

.bg-light {
	background-color: #75c8a2 !important;
}
</style>

</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light pr-0">
		<a class="navbar-brand font-weight-bolder" href="/">御宅</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- (${navItem.hasDropdown}? dropdown:'') -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li th:each="navItem:${navItems}" class="nav-item font-weight-bold"
					th:classappend="(${navItem.id} eq ${currentPageId})? active:''"><a
					class="nav-link" th:id="${navItem.id}" th:href="${navItem.link}"
					th:classappend="${navItem.hasDropdown}?dropdown-toggle:''"
					th:text="${navItem.display}"
					th:role="${navItem.hasDropdown}? button:''"
					th:data-toggle="${navItem.hasDropdown}? dropdown:''"
					th:aria-haspopup="${navItem.hasDropdown}? true:''"
					th:aria-expanded="${navItem.hasDropdown}? false:''"></a>
					<div th:if="${navItem.hasDropdown}" class="dropdown">
						<div class="dropdown-menu" th:aria-labelledby="${navItem.id}">
							<div th:each="dropdownItem:${navItem.dropdown}">
								<a class="dropdown-item" th:href="${dropdownItem.link}"
									th:text="${dropdownItem.display}"
									th:unless="${dropdownItem.display} eq 'driver'"></a>
								<div th:if="${dropdownItem.display} eq 'driver'"
									class="dropdown-divider" href="#"></div>

							</div>
						</div>
					</div></li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
			<div class="small p-2" th:switch="${username}">
				<div th:case="'null'">
					<a class="m-2" href="/login/login">注册/登陆</a>
				</div>
				<div th:case="*">
					<a class="m-2" th:href="${'/profile/'+username}"
						th:text="${username}"></a><a href="/logout" class="m-2">登出</a>
				</div>
			</div>
		</div>
	</nav>



	<div class="container">
		<div class="row">
			<div class="col-lg-3" th:each="article:${articles}">
				<div class="card my-4">
					<img class="card-img-top" th:src="${article.picture}" alt="">
					<div class="card-body">
						<h4 class="card-title" th:text="${article.title}">Product
							title</h4>
						<h6 class="card-subtitle mb-2 text-muted"
							th:text="${df.format(T(java.time.Instant).ofEpochMilli(article.lastEditedTime))}">Card
							subtitle
							th:text="${df.format(T(java.time.Instant).ofEpochMilli(article.lastEditedTime))}"</h6>
						<p class="card-text" th:text="${article.abstraction}"></p>
					</div>
					<div class="card-footer text-right pr-0 pb-0 pt-0">
						<span class='badge badge-small'><i class="fa fa-thumbs-up"></i></span>
						<small class="small"
							th:text="${article.getExtension('likeCount')?.get(0)}"></small> <span
							class='badge badge-small'><i class="fa fa-reply"></i></span> <small
							class="small"
							th:text="${article.getExtension('replyCount')?.get(0)}"></small>

						<span class='badge badge-small'><i class="fa fa-eye"></i></span> <small
							th:text="${article.getExtension('viewCount')?.get(0)}"
							class="small"></small> <a th:href="${'/article/'+article.uuid}"><button
								type="button" class=" btn btn-primary rounded-0">READ</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
		<script
			src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
	</div>
</body>
</html>