<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link
	href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://g.alicdn.com/de/prismplayer/2.8.0/skins/default/aliplayer-min.css" />
<script charset="utf-8" type="text/javascript"
	src="https://g.alicdn.com/de/prismplayer/2.8.0/aliplayer-h5-min.js"></script>


<style>
.nav-item:hover {
	
}

body {
	background-color: #a3e2c5 !important;
}

.card-footer {
	background-color: #d0f4e4 !important;
}

.container {
	background-color: #f6fefa !important;
}

.bg-light {
	background-color: #75c8a2 !important;
}
</style>
<style>
.fleeting{
  font-weight: bold;
  color: white;	
  display:inline-block;
  position: absolute;
  -webkit-animation: myfirst 5s 1; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: normal; /* Safari 4.0 - 8.0 */
   -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); /* Safari 4.0 - 8.0 */
  animation: myfirst 15s 1;
  animation-direction: normal;
  animation-timing-function: linear;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes myfirst {
  0%   {left: 0px; top: 0px;}
  100% {left: 100%; top: 0px;}
}

@keyframes myfirst {
  0%   {left: 0px; top: 0px;}
  100% {left: 100%; top: 0px;}
}

.wrapper{
 text-align:left;
 background-color :rgba(0,0,0,0);
 position:relative;
}
#damnuku{
 position:absolute;
 width: 100%;
 height: 100%;
}
</style>
</head>


<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light pr-0">
		<a class="navbar-brand font-weight-bolder" href="/">御宅</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- (${navItem.hasDropdown}? dropdown:'') -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li th:each="navItem:${navItems}" class="nav-item font-weight-bold"
					th:classappend="(${navItem.id} eq ${currentPageId})? active:''"><a
					class="nav-link" th:id="${navItem.id}" th:href="${navItem.link}"
					th:classappend="${navItem.hasDropdown}?dropdown-toggle:''"
					th:text="${navItem.display}"
					th:role="${navItem.hasDropdown}? button:''"
					th:data-toggle="${navItem.hasDropdown}? dropdown:''"
					th:aria-haspopup="${navItem.hasDropdown}? true:''"
					th:aria-expanded="${navItem.hasDropdown}? false:''"></a>
					<div th:if="${navItem.hasDropdown}" class="dropdown">
						<div class="dropdown-menu" th:aria-labelledby="${navItem.id}">
							<div th:each="dropdownItem:${navItem.dropdown}">
								<a class="dropdown-item" th:href="${dropdownItem.link}"
									th:text="${dropdownItem.display}"
									th:unless="${dropdownItem.display} eq 'driver'"></a>
								<div th:if="${dropdownItem.display} eq 'driver'"
									class="dropdown-divider" href="#"></div>

							</div>
						</div>
					</div></li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
			<div class="small p-2" th:switch="${username}">
				<div th:case="'null'">
					<a class="m-2" href="/login/login">注册/登陆</a>
				</div>
				<div th:case="*">
					<a class="m-2" th:href="${'/profile/'+username}"
						th:text="${username}"></a><a href="/logout" class="m-2">登出</a>
				</div>
			</div>
		</div>
	</nav>




	<div class="" th:if="${livePlayer}">

		<div class="text-center" th:utext="${announcement}"></div>
		<div class="row mx-1 ">
			<div class="col-lg-8">
				<div class="embed-responsive embed-responsive-16by9">
  					<div class="embed-responsive-item">
						<div id="player-con" class="prism-player"
							th:data-pull-url="${pullURL}"
							th:data-pull-url-flv="${pullURL4flv}"
							th:data-pull-url-m3u8="${pullURL4m3u8}">
							<div id="damnuku" >
								<div class="wrapper" style="height: 22"></div>
								<div class="wrapper" style="height: 22"></div>
								<div class="wrapper" style="height: 22"></div>
								<div class="wrapper" style="height: 22"></div>
								<div class="wrapper" style="height: 22"></div>
								<div class="wrapper" style="height: 22"></div>
								<div class="wrapper" style="height: 22"></div>
								<div class="wrapper" style="height: 22"></div>
								<div class="wrapper" style="height: 22"></div>
								<div class="wrapper" style="height: 22"></div>
								<div class="wrapper" style="height: 22"></div>
								<div class="wrapper" style="height: 22"></div>
								<div class="wrapper" style="height: 22"></div>
							</div>	
						</div>			
					</div>
				</div>
				<div class="text-center">	
			<div class="btn-group" role="group" aria-label="Basic example">
  				<button type="button" class="btn btn-sm btn-success" onClick="window.player.play()">播放</button>
  				<button type="button" class="btn btn-sm btn-warning" onClick="window.player.pause()">暂停</button>
  				<button type="button" class="btn btn-sm btn-danger" onClick="window.player.switchToFlv()">电脑端</button>
  				<button type="button" class="btn btn-sm btn-danger" onClick="window.player.switchToM3u8()">手机端</button>
  				<button type="button" class="btn btn-sm btn-danger" onClick="window.player.rotate()">旋转</button>
			</div>
			<div class="btn-group" role="group" aria-label="Basic example">
  				<button type="button" class="btn btn-sm btn-info" onClick="window.player.mute()">静音</button>
  				<button type="button" class="btn btn-sm btn-info" onClick="window.player.volumeDown()">小声</button>
  				<button type="button" class="btn btn-sm btn-info" onClick="window.player.volumeUp()">大声</button>
  				<button type="button" class="btn btn-sm btn-disabled">音量<span id="playerVolumeDisplay">100</span>%</button>
			</div>
		</div>
			</div>
			<div class="col-lg-4" >

				<div class="input-group" id="conversationDiv" style="bottom: 0;; z-index:100">
					<div class="input-group-prepend">
						<button class="btn btn-danger" onclick="clearMessage();">清空</button>
					</div>
					<input class="form-control" type="text" id="text" placeholder="Write a message..."/>
					<div class="input-group-append">
						<button class="btn btn-primary"  id="sendMessage" onclick="sendMessage();">发送</button>
					</div>
            	</div>
            	<textarea id="chats" readonly style=" width:100%; height:400px" ></textarea>
			</div>
		</div>
		
						
		
		<script>
		//this is the video player
			window.playerVolumeDisplay = document.querySelector('#playerVolumeDisplay');
			window.player = new Aliplayer(
					{
						"id" : "player-con",
						"source" : document.querySelector('#player-con').dataset.pullUrlFlv,
						"width" : "100%",
						"height" : "100%",
						"autoplay" : true,
						"isLive" : true,
						"cover" : "https://wx3.sinaimg.cn/mw690/9669f253ly1fzukrwtmypj20k00sbgnl.jpg",
						"rePlay" : false,
						"playsinline" : true,
						"preload" : true,
						"controlBarVisibility" : "hover",
						"useH5Prism" : true,
						"skinLayout":
							[
								{name: "fullScreenButton", align:"trabs"},
							]
					}, function(player) {
						console.log("播放器创建了。");
					});
			window.player.mute = function(){
				var volume = 0;
				this.setVolume(volume);
				window.playerVolumeDisplay.innerHTML=(volume*100).toFixed(2);
			}
			window.player.volumeUp = function(){
				var volume = this.getVolume();
				if( volume < 1){
					volume += 0.1;
					this.setVolume(volume);
					window.playerVolumeDisplay.innerHTML=(volume*100).toFixed(2);
				}
			}
			window.player.volumeDown = function(){
				var volume = this.getVolume();
				if( volume > 0){
					volume -= 0.1;
					this.setVolume(volume);
					window.playerVolumeDisplay.innerHTML=(volume*100).toFixed(2);
				}
			}
			window.player.switchToM3u8 = function(){
				this.pause();
				this.source = document.querySelector('#player-con').dataset.pullUrlM3u8;
				
				//this.play();
			}
			window.player.switchToFlv = function(){
				this.pause();
				this.source = document.querySelector('#player-con').dataset.pullUrlFlv;
				
				//this.play();
			}
            window.player.rotate = function(){
	            var rotate = this.getRotate();
	            if(rotate>1){
	            	this.setRotate(0);
	            	$("#damnuku").css({'transform' : 'rotate('+ 0 +'deg)'});
	            }else{
	            	this.setRotate(90);
	            	$("#damnuku").css({'transform' : 'rotate('+ 90 +'deg)'});
	            }
	            
            }
            
		
		</script>
	</div>
	

	
	<div>
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
		<script
			src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
		<script>
		//this block is for danmuku
			$(document)
			.ready(function() {
				$('.fleeting').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',
										function() {
											$(this).remove();
										});
				connect();
				});
	
			var $damnuku = $('#damnuku');
	
			function addFleeting(msg){
				var videoHeight = $('#player-con').height();
				var damnukuChannelCount = parseInt(videoHeight/22);
				if(damnukuChannelCount>10){
					damnukuChannelCount = 10;
				}
				
				var $damnukuChannels = $damnuku.children();
				if($damnukuChannels.length === damnukuChannelCount){
					
				}else{
					$damnukuChannels.remove();
					for(var i=0;i<damnukuChannelCount;i++){
						$damnuku.append("<div class=\"wrapper\" style=\"height: 22\"></div>");
					}
				}
				
				
				var f = $('<div>', {class:'fleeting'}).text(msg);
				$damnuku.children().eq(randomIntFromInterval(0,damnukuChannelCount-1)).prepend(f);
				$('.fleeting')
					.one(
						'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend',
						function() {
							$(this).remove();
					});
			}
	    
			function randomIntFromInterval(min,max) // min and max included
			{
	    		return Math.floor(Math.random()*(max-min+1)+min);
			}
	
			</script>
			
			<script src="https://cdn.bootcss.com/sockjs-client/1.3.0/sockjs.js"></script>
			<script src="https://cdn.bootcss.com/stomp.js/2.3.3/stomp.js"></script>
			
			<script>
			//this block is for websocket connection
			 var stompClient = null;
             
	            function setConnected(connected) {
	                
	            }
	             
	            function connect() {
	                var socket = new SockJS('/chat');
	                stompClient = Stomp.over(socket);  
	                stompClient.connect({}, function(frame) {
	                    setConnected(true);
	                    console.log('Connected: ' + frame);
	                    stompClient.subscribe('/topic/messages', function(messageOutput) {
	                        showMessageOutput(JSON.parse(messageOutput.body));
	                    });
	                });
	            }
	             
	            function disconnect() {
	                if(stompClient != null) {
	                    stompClient.disconnect();
	                }
	                setConnected(false);
	                console.log("Disconnected");
	            }
	             
	            function sendMessage() {
	                var from = "";
	                var $text = $("#text");
	                var text = $text.val();
	                if(text){
	                	$text.val("");
	                	stompClient.send("/user/app/chat", {}, 
	                  	JSON.stringify({'from':from, 'text':text}));
	                }
	            }
	             
	            function showMessageOutput(messageOutput) {
	                addFleeting(messageOutput.text);
	                var $chats = $("#chats");
	                var old = $chats.val();
	                $chats.val(messageOutput.text +"\n"+ old);
	            }
	            
	            function clearMessage(){
	            	var $chats = $("#chats");
	            	$chats.val("");
	            }
	            
	            
	            var input = document.getElementById("text");
	            input.addEventListener("keyup", function(event) {
	              if (event.keyCode === 13) {
	               event.preventDefault();
	               document.getElementById("sendMessage").click();
	              }
	            });
	            

			
			</script>
	</div>
</body>
</html>