<html>

<head>
<meta content="width=device-width, initial-scale=1" name="viewport" />
<link
	href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.blue {
	background-color: blue;
	height: 400;
	width: 250;
}

.card {
	display: inline-block;
}

@media screen and ( max-width : 30em) and (min-width:0em) {
	.card-columns {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}

@media screen and ( max-width : 70em) and (min-width:30em) {
	.card-columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}

@media screen and (min-width:70em) {
	.card-columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}
</style>
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- (${navItem.hasDropdown}? dropdown:'') -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li th:each="navItem:${navItems}" class="nav-item"
					th:classappend="(${navItem.id} eq ${currentPageId})? active:''"><a
					class="nav-link" th:id="${navItem.id}" th:href="${navItem.link}"
					th:classappend="${navItem.hasDropdown}?dropdown-toggle:''"
					th:text="${navItem.display}"
					th:role="${navItem.hasDropdown}? button:''"
					th:data-toggle="${navItem.hasDropdown}? dropdown:''"
					th:aria-haspopup="${navItem.hasDropdown}? true:''"
					th:aria-expanded="${navItem.hasDropdown}? false:''"></a>
					<div th:if="${navItem.hasDropdown}" class="dropdown">
						<div class="dropdown-menu" th:aria-labelledby="${navItem.id}">
							<div th:each="dropdownItem:${navItem.dropdown}">
								<a class="dropdown-item" th:href="${dropdownItem.link}"
									th:text="${dropdownItem.display}"
									th:unless="${dropdownItem.display} eq 'driver'"></a>
								<div th:if="${dropdownItem.display} eq 'driver'"
									class="dropdown-divider" href="#"></div>
							</div>
						</div>
					</div></li>
				<li class="nav-item"><a class="nav-link" href="#"><i
						class="fa fa-plus-square"></i>添加标签</a></li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>

	<div class="container">
		<div class="card-columns">

			<div class="card my-4">
				<img class="card-img-top" th:src="${article.picture}" alt="">
				<div class="card-body">
					<h4 class="card-title" th:text="${article.title}">Product
						title</h4>
					<h6 class="card-subtitle mb-2 text-muted"
						th:text="${df.format(T(java.time.Instant).ofEpochMilli(article.lastEditedTime))}">Card
						subtitle</h6>
					<p class="card-text" th:text="${article.abstraction}"></p>

				</div>
				<div class="card-footer text-right pr-0 pb-0 pt-0">
					<span class='badge badge-small'><i class="fa fa-eye"></i></span> <small
						class="small">2223</small> <span class='badge badge-small'><i
						class="fa fa-reply"></i></span> <small class="small">2223</small> <a
						th:href="${'/article/'+article.uuid}"><button type="button"
							class=" btn btn-primary rounded-0">READ</button></a>
				</div>
			</div>
			<div class="card my-4">
				<img class="card-img-top" th:src="${article.picture}" alt="">
				<div class="card-body">
					<h4 class="card-title" th:text="${article.title}">Product
						title</h4>
					<h6 class="card-subtitle mb-2 text-muted"
						th:text="${df.format(T(java.time.Instant).ofEpochMilli(article.lastEditedTime))}">Card
						subtitle</h6>
					<p class="card-text" th:text="${article.abstraction}"></p>

				</div>
				<div class="card-footer text-right pr-0 pb-0 pt-0">
					<span class='badge badge-small'><i class="fa fa-eye"></i></span> <small
						class="small">2223</small> <span class='badge badge-small'><i
						class="fa fa-reply"></i></span> <small class="small">2223</small>
					<button type="button" class=" btn btn-primary rounded-0">READ</button>
				</div>
			</div>
			<div class="card my-4">
				<img class="card-img-top" th:src="${article.picture}" alt="">
				<div class="card-body">
					<h4 class="card-title" th:text="${article.title}">Product
						title</h4>
					<h6 class="card-subtitle mb-2 text-muted"
						th:text="${df.format(T(java.time.Instant).ofEpochMilli(article.lastEditedTime))}">Card
						subtitle</h6>
					<p class="card-text" th:text="${article.abstraction}"></p>

				</div>
				<div class="card-footer text-right pr-0 pb-0 pt-0">
					<span class='badge badge-small'><i class="fa fa-eye"></i></span> <small
						class="small">2223</small> <span class='badge badge-small'><i
						class="fa fa-reply"></i></span> <small class="small">2223</small>
					<button type="button" class=" btn btn-primary rounded-0">READ</button>
				</div>
			</div>
			<div class="card my-4">
				<img class="card-img-top" th:src="${article.picture}" alt="">
				<div class="card-body">
					<h4 class="card-title" th:text="${article.title}">Product
						title</h4>
					<h6 class="card-subtitle mb-2 text-muted"
						th:text="${df.format(T(java.time.Instant).ofEpochMilli(article.lastEditedTime))}">Card
						subtitle</h6>
					<p class="card-text" th:text="${article.abstraction}"></p>

				</div>
				<div class="card-footer text-right pr-0 pb-0 pt-0">
					<span class='badge badge-small'><i class="fa fa-eye"></i></span> <small
						class="small">2223</small> <span class='badge badge-small'><i
						class="fa fa-reply"></i></span> <small class="small">2223</small>
					<button type="button" class=" btn btn-primary rounded-0">READ</button>
				</div>
			</div>
			<div class="card my-4">
				<img class="card-img-top" th:src="${article.picture}" alt="">
				<div class="card-body">
					<h4 class="card-title" th:text="${article.title}">Product
						title</h4>
					<h6 class="card-subtitle mb-2 text-muted"
						th:text="${df.format(T(java.time.Instant).ofEpochMilli(article.lastEditedTime))}">Card
						subtitle</h6>
					<p class="card-text" th:text="${article.abstraction}"></p>

				</div>
				<div class="card-footer text-right pr-0 pb-0 pt-0">
					<span class='badge badge-small'><i class="fa fa-eye"></i></span> <small
						class="small">2223</small> <span class='badge badge-small'><i
						class="fa fa-reply"></i></span> <small class="small">2223</small>
					<button type="button" class=" btn btn-primary rounded-0">READ</button>
				</div>
			</div>
			<div class="card my-4">
				<img class="card-img-top" th:src="${article.picture}" alt="">
				<div class="card-body">
					<h4 class="card-title" th:text="${article.title}">Product
						title</h4>
					<h6 class="card-subtitle mb-2 text-muted"
						th:text="${df.format(T(java.time.Instant).ofEpochMilli(article.lastEditedTime))}">Card
						subtitle</h6>
					<p class="card-text" th:text="${article.abstraction}"></p>

				</div>
				<div class="card-footer text-right pr-0 pb-0 pt-0">
					<span class='badge badge-small'><i class="fa fa-eye"></i></span> <small
						class="small">2223</small> <span class='badge badge-small'><i
						class="fa fa-reply"></i></span> <small class="small">2223</small>
					<button type="button" class=" btn btn-primary rounded-0">READ</button>
				</div>
			</div>
			<div class="card my-4">
				<img class="card-img-top" th:src="${article.picture}" alt="">
				<div class="card-body">
					<h4 class="card-title" th:text="${article.title}">Product
						title</h4>
					<h6 class="card-subtitle mb-2 text-muted"
						th:text="${df.format(T(java.time.Instant).ofEpochMilli(article.lastEditedTime))}">Card
						subtitle</h6>
					<p class="card-text" th:text="${article.abstraction}"></p>

				</div>
				<div class="card-footer text-right pr-0 pb-0 pt-0">
					<span class='badge badge-small'><i class="fa fa-eye"></i></span> <small
						class="small">2223</small> <span class='badge badge-small'><i
						class="fa fa-reply"></i></span> <small class="small">2223</small>
					<button type="button" class=" btn btn-primary rounded-0">READ</button>
				</div>
			</div>

		</div>
	</div>


	<div>
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
		<script
			src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#list').click(function(event) {
					event.preventDefault();
					$('#products .item').addClass('list-group-item');
				});
				$('#grid').click(function(event) {
					event.preventDefault();
					$('#products .item').removeClass('list-group-item');
					$('#products .item').addClass('grid-group-item');
				});
			});
		</script>
	</div>
</body>
</html>