<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link
	href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style th:replace="cards :: style">
</style>
</head>

<body>
	<nav th:replace="cards :: navbar"></nav>

	<div class="container p-3">
		<h2>站长功能</h2>
		<div th:if="${roles.contains('ROLE_OWNER')}">
			<ul class="list-group">
				<li class="list-group-item"><a id="streamKeyLink"
					href="javascript:void(0);" onClick="getStreamKey()">开启直播</a> <textarea
						id="announcement" class="form-control mt-2"
						placeholder="直播说明, 将以大字体显示于直播窗口上方。使用HTML语言填写。"
						th:utext="${announcement}"></textarea>
					<div hidden id="streamKeyDisplay">
						<p>Push URL（推流地址 ）</p>
						<pre id="pushURL"></pre>
						<p>Stream Key（直播码）</p>
						<pre id="streamKey"></pre>
						<p>Pull URL（拉流地址）</p>
						<pre id="pullURL"></pre>
						<p>Pull URL flv格式（拉流地址）</p>
						<pre id="pullURL4flv"></pre>
						<p>Pull URL m3u8格式（拉流地址）</p>
						<pre id="pullURL4m3u8"></pre>
					</div></li>
				<li class="list-group-item"><a href="/owner/users/management">用户管理</a></li>
				<li class="list-group-item"><a href="/owner/admins/archieve">管理员操作记录</a></li>
				<li class="list-group-item"><a href="/faq/god/prayer/management">查看用户提问</a></li>
			</ul>
		</div>
	</div>


	<div class="container p-3 mt-3">
		<h2>管理员功能</h2>
		<div th:if="${roles.contains('ROLE_ADMIN')}">
			<ul class="list-group">
				<li class="list-group-item"><a href="/admin/nav">编辑导航栏</a></li>
				<li class="list-group-item"><a
					href="/admin/article/addOrUpdate/new">发布内容</a></li>
				<li class="list-group-item"><a href="/admin/video/upload">上传视频</a></li>
				<li class="list-group-item"><a href="/admin/video/management">视频管理</a></li>
			</ul>
		</div>
	</div>

	<div class="container p-3 mt-3">
		<h2>个人信息编辑</h2>
		<hr />
		<div class="container">
			<h3>修改昵称</h3>
			<form class="input-group" action="/user/profile/changeNickname"
				method="post">
				<input class="form-control" type="text" name="nickname"
					placeholder="输入昵称" />
				<div class="input-group-append">
					<button class="btn btn-primary">提交</button>
				</div>
			</form>
		</div>
		<div class="container">
			<h3>修改密码</h3>
			<form class="input-group" action="/user/profile/changePassword" method="post">
				<input class="form-control"  type="password" name="oldPassword" placeholder="旧密码" /> <input
					class="form-control"  type="password" name="newPassword1" placeholder="新密码" /> <input
					class="form-control"  type="password" name="newPassword2" placeholder="再输入一遍新密码" />
				<div class="input-group-append">
					<button class="btn btn-warning">提交</button>
				</div>
			</form>
		</div>
	</div>
	<div>
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
		<script
			src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
		<script>
			function getStreamKey() {

				var announcement = $("textarea#announcement").val();
				var url = "/owner/live/streamKey"
				var xhr = new XMLHttpRequest();
				xhr.open("POST", url, true);
				xhr.setRequestHeader("Content-Type", "application/json");
				xhr.onreadystatechange = function() {
					if (xhr.readyState === 4 && xhr.status === 200) {
						var json = JSON.parse(xhr.responseText);
						$("pre#pushURL").append(json.pushURL);
						$("pre#streamKey").append(json.streamKey);
						$("pre#pullURL").append(json.pullURL);
						$("pre#pullURL4flv").append(json.pullURL4flv);
						$("pre#pullURL4m3u8").append(json.pullURL4m3u8);
						$("#streamKeyDisplay").attr("hidden", false);
					} else if (xhr.readyState === 4 && xhr.status != 200) {
						alert("需要站长权限/内部错误");
					}
				};
				var data = JSON.stringify({
					"announcement" : announcement
				});
				xhr.send(data);
			}
		</script>
	</div>
</body>
</html>