<html>

<head>
<link
	href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link
	href="https://cdn.bootcss.com/jquery-form-validator/2.3.79/theme-default.css"
	rel="stylesheet">
<style>
.nav-item:hover {
	background-color: white;
}
</style>

<style>
.vaptcha-init-main {
	display: table;
	width: 100%;
	height: 100%;
	background-color: #EEEEEE;
}

​
  .vaptcha-init-loading {
	display: table-cell;
	vertical-align: middle;
	text-align: center
}

​
  .vaptcha-init-loading>a {
	display: inline-block;
	width: 18px;
	height: 18px;
	border: none;
}

​
  .vaptcha-init-loading>a img {
	vertical-align: middle
}

​
  .vaptcha-init-loading .vaptcha-text {
	font-family: sans-serif;
	font-size: 12px;
	color: #CCCCCC;
	vertical-align: middle
}
</style>


</head>

<body>
	<div class="container" align="center">
		<div class="border border-primary rounded" style="width: 640px">

			<form id="registerForm" align="center" method="POST">
				<div class="form-group">
					<h1 align="center">重置密码</h1>
				</div>
				<div class="form-group">
					<input type="text" data-validation="number length"
						data-validation-length="11" name="username"
						class="form-control text-center" id="phone"
						aria-describedby="phoneHelp" placeholder="国内11位数字手机号"> <small
						id="phoneHelp" class="form-text text-muted">请填写国内11位数字手机号，
						需要通过短信验证</small>
				</div>
				<div class="form-group">
					<input type="password" name="password_confirmation" data-validation="strength" data-validation-strength="1"
						class="form-control text-center" id="password1"
						aria-describedby="password1Help" placeholder="密码"><small
						id="password1Help" class="form-text text-muted">请填写密码</small>
				</div>
				<div class="form-group">
					<input type="password" name="password"
						data-validation="confirmation" class="form-control text-center"
						id="password2" aria-describedby="password2Help" placeholder="重复密码"><small
						id="password2Help" class="form-text text-muted">请再次填写密码</small>
				</div>

				<!-- 点击式按钮建议高度介于36px与46px  -->
				<!-- 嵌入式仅需设置宽度，高度根据宽度自适应，最小宽度为200px -->
				<div class="form-group" align="center">
					<div id="register-vaptcha-container"
						th:data-vaptcha-vid="${vaptcha_vid}" class="vaptcha-container"
						style="width: 300px; height: 36px;">
						<!--vaptcha-container是用来引入VAPTCHA的容器，下面代码为预加载动画，仅供参考-->
						<div class="vaptcha-init-main">
							<div class="vaptcha-init-loading">
								<span class="vaptcha-text">VAPTCHA启动中...</span>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group input-group">
					<input type="text" name="smscode" class="form-control text-center" data-validation="number length"
						data-validation-length="6"
						id="exampleInputPassword1" placeholder="短信验证码"> <div
						class="input-group-btn">
						<button id="sendsms-button" type="button" disabled
							onClick="sendsms()" class="btn btn-success">向手机发送短信验证码</button>
					</div>
				</div>
				<div></div>
				<div class="form-group">
					<button id="submit-button"  type="submit"
						class="btn btn-primary">提交</button>
				</div>
			</form>
		</div>
		<div>
			<a href="/login/login">登录</a>
		</div>
	</div>


	<div>
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
		<script
			src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
		<script
			src="https://cdn.bootcss.com/jquery-form-validator/2.3.79/jquery.form-validator.js"></script>
		<script
			src="https://cdn.bootcss.com/jquery-form-validator/2.3.79/toggleDisabled.js"></script>
		<script
			src="https://cdn.bootcss.com/jquery-form-validator/2.3.79/security.js"></script>
		<script
			src="https://cdn.bootcss.com/jquery-form-validator/2.3.79/logic.js"></script>
		<script
			src="https://cdn.bootcss.com/jquery-form-validator/2.3.79/location.js"></script>
		<script
			src="https://cdn.bootcss.com/jquery-form-validator/2.3.79/jsconf.js"></script>
		<script
			src="https://cdn.bootcss.com/jquery-form-validator/2.3.79/file.js"></script>
		<script
			src="https://cdn.bootcss.com/jquery-form-validator/2.3.79/date.js"></script>
		<script
			src="https://cdn.bootcss.com/jquery-form-validator/2.3.79/color.js"></script>
		<script
			src="https://cdn.bootcss.com/jquery-form-validator/2.3.79/html5.js"></script>

	</div>
	<div>
		<script src="https://cdn.vaptcha.com/v2.js"></script>
		<script>
			var chineseJqueryValidationFeedback = {
				errorTitle : '表格提交失败!',
				requiredFields : '仍有未填写的内容',
				badTime : '时间不符',
				badEmail : 'Email地址有误',
				badTelephone : '电话号码有误',
				badSecurityAnswer : 'You have not given a correct answer to the security question',
				badDate : '日期有误',
				lengthBadStart : '内容长度必须为 ',
				lengthBadEnd : ' 个字符',
				lengthTooLongStart : '内容长度超过了 ',
				lengthTooShortStart : '内容长度短过了 ',
				notConfirmed : '内容不符',
				badDomain : '域名有误',
				badUrl : 'URL有误',
				badCustomVal : '内容有误',
				andSpaces : ' 和空格 ',
				badInt : '此处应为数字',
				badSecurityNumber : '您的社保号码有误',
				badUKVatAnswer : 'UK VAT 号码有误',
				badStrength : '密码过于简单',
				badNumberOfSelectedOptionsStart : '至少选定 ',
				badNumberOfSelectedOptionsEnd : ' 个选项',
				badAlphaNumeric : '只能包含字母 ',
				badAlphaNumericExtra : ' 和 ',
				wrongFileSize : '文件体积过大 (最大 %s)',
				wrongFileType : '只允许 类型为 %s 的文件',
				groupCheckedRangeStart : '请选择介于 ',
				groupCheckedTooFewStart : '请选择至少 ',
				groupCheckedTooManyStart : '请选择不超过 ',
				groupCheckedEnd : ' 项目',
				badCreditCard : '信用卡号有误',
				badCVV : '信用卡 CVV 号码有误',
				wrongFileDim : '图像分辨率有误,',
				imageTooTall : '图像高度不能超过',
				imageTooWide : '图像宽度不能超过',
				imageTooSmall : '图像太小',
				min : '最小值',
				max : '最大值',
				imageRatioNotAccepted : '图像分辨率未被接受'
			};
			$.validate({
				language : chineseJqueryValidationFeedback
			});

			vaptcha(
					{
						//配置参数
						vid : $("#register-vaptcha-container").attr(
								"data-vaptcha-vid"), // 验证单元id
						type : 'click', // 展现类型 点击式
						container : $(".vaptcha-container")
					// 按钮容器，可为Element 或者 selector
					}).then(function(vaptchaObj) {
				vaptchaObj.renderTokenInput('form');//向表单中添加input标签;
				vaptchaObj.render();// 调用验证实例 vaptchaObj 的 render 方法加载验证按钮
				vaptchaObj.listen('pass', function() {
					$("button#sendsms-button").removeAttr("disabled");
				})
			})

			function sendsms() {
				var xhr = new XMLHttpRequest();
				var token;
				var phone
				var formData = $('#registerForm').serializeArray();
				$.each(formData, function(i, j) {
					if (j.name === 'vaptcha_token') {
						token = j.value;
					} else if (j.name === 'username') {
						phone = j.value;
					}
				});
				var url = "/login/sendsms/"
				xhr.open("POST", url, true);
				xhr.setRequestHeader("Content-Type", "application/json");
				xhr.onreadystatechange = function() {
					if (xhr.readyState === 4 && xhr.status === 200) {
						var json = JSON.parse(xhr.responseText);
						alert(xhr.responseText)
					} else if (xhr.readyState === 4 && xhr.status != 200) {
						alert("内部错误");
					}
				};
				var data = JSON.stringify({
					"phone" : phone,
					"token" : token
				});
				xhr.send(data);
			}
		</script>
	</div>
</body>
</html>