<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link
	href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style th:replace="cards :: style">
</style>

</head>

<body>
	<nav th:replace="cards :: navbar"></nav>

	<div class="container">
		<hr />
		<h2>业主</h2>
		<table class="table">
			<tr>
				<th>用户名</th>
				<th>昵称</th>
				<th>权限</th>
			</tr>
			<tr th:each="owner:${owners}">
				<td th:text="${owner.username}"></td>
				<td th:text="${nicknames.get(owner.username)}"></td>
				<td></td>
			</tr>
		</table>
		<hr />
		<h2>管理员</h2>
		<table class="table">
			<tr>
				<th>用户名</th>
				<th>昵称</th>
				<th>免除管理员</th>
			</tr>
			<tr th:each="admin:${admins}">
				<td th:text="${admin.username}"></td>
				<td th:text="${nicknames.get(admin.username)}"></td>
				<td><a th:href="${'/owner/admins/demote?username='+admin.username}">免除管理员</a></td>
			</tr>
		</table>
		<hr />
		<h2>普通用户</h2>
		<table class="table">
			<tr>
				<th>用户名</th>
				<th>昵称</th>
				<th>任命为管理员</th>
			</tr>
			<tr th:each="commoner:${users}">
				<td th:text="${commoner.username}"></td>
				<td th:text="${nicknames.get(commoner.username)}"></td>
				<td><a th:href="${'/owner/users/promote?username='+commoner.username}">任命管理员</a></td>
			</tr>
		</table>

	</div>

	<div>
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
		<script
			src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
	</div>
</body>
</html>