<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link rel="stylesheet"
	href="https://g.alicdn.com/de/prismplayer/2.8.0/skins/default/aliplayer-min.css" />
<script charset="utf-8" type="text/javascript"
	src="https://g.alicdn.com/de/prismplayer/2.8.0/aliplayer-h5-min.js"></script>

</head>

<style th:replace="cards :: style">
</style>
<style>
.contentImg {
	max-width: 300px;
	width: auto;
	height: auto;
}

.prism-player .prism-cover {
	background-color: none;
	display: block;
}

.prism-player .prism-marker-text {
	display: none;
}
</style>
</head>

<body>

	<nav th:replace="cards :: navbar"></nav>

	<div class="container mb-2 p-2">
		<button class="btn btn-primary" onClick="deleteVideos()">删除所有选中视频</button>
	</div>
	<div class="container py-2 ">
		<div class="row">
			<div class="card col-lg-2 mx-2 mt-3 p-2"
				th:each="apsaraVideo:${apsaraVideos}">
				<label class="form-check-label" th:for="${apsaraVideo.vid}"
					style="text-align: center;">

					<div class="prism-player card-img-top"
						th:id="'player'+${apsaraVideo.vid}"
						th:data-vod-play-auth="${apsaraVideo.playAuth}"
						th:data-vod-video-id="${apsaraVideo.vid}"
						th:data-vod-cover="${apsaraVideo.cover}"></div>

					<div class="card-body">
						<h5 class="card-title" th:text="${apsaraVideo.title}"></h5>
						<p class="card-text" th:text="${apsaraVideo.createTime}"></p>
					</div>
				</label> <input type="checkbox" name="videoIds"
					th:value="${apsaraVideo.vid}" class="apsaraVideoCheckbox"
					th:id="${apsaraVideo.vid}">
			</div>
		</div>
	</div>




	<div id="footerSection" class="py-5 m-0"></div>

	<div>
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
		<script
			src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			//button.likeButton implementation summary:
			//1. a likeButton is set hidden in plain HTML(hidden is removed on window load).
			//2. a boolean, data-like-isLiked, is set by server
			//3. a string, data-like-uuid, which is the uuid of the article/reply, is set by server. 
			//3. count of likes is displayed with a span. The id and the initial count value are set by the server.
			//4. a string, data-like-count-display, stores the id of the span in (3.)
			//5. a string, data-like-count, stores the count of likes, initialized by the server.
			$(window).on('load', function() {
				$('.prism-player').each(function() {
					createAliplayer($(this));
				});

			});

			function deleteVideos() {
				var videoIds = [];
				var data = {};
				$(".apsaraVideoCheckbox").each(function() {
					videoIds.push(getCheckBoxValueIfChecked($(this)));
				})
				data.videoIds = videoIds;
				makeDeletionRequest(data)
			}
			function getCheckBoxValueIfChecked($e) {
				if ($e.is(":checked")) {
					return $e.val();
				}
			}
			function makeDeletionRequest(json) {
				var url = "/admin/video/delete";
				var xhr = new XMLHttpRequest();
				xhr.open("POST", url, true);
				xhr.setRequestHeader("Content-Type", "application/json");
				xhr.onreadystatechange = function() {
					if (xhr.readyState === 4 && xhr.status === 200) {
						var json = JSON.parse(xhr.responseText);
						window.location.reload()
					} else if (xhr.readyState === 4 && xhr.status != 200) {
						alert("需要管理员权限/内部错误");
					}
				};
				var data = JSON.stringify(json);
				xhr.send(data);
			}
		</script>

		<script>
			function createAliplayer($e) {
				var player = new Aliplayer({
					id : $e.attr("id"),
					"width" : "100%",
					"height" : "300",

					//source : '播放url',
					vid : $e.attr("data-vod-video-id"),
					playauth : $e.attr("data-vod-play-auth"),
					cover : $e.attr("data-vod-cover"),

					"autoplay" : false,
					"isLive" : false,
					"rePlay" : false,
					"playsinline" : true,
					"preload" : true,
					"controlBarVisibility" : "hover",
					"useH5Prism" : true,

					"skinLayout" : [ {
						"name" : "bigPlayButton",
						"align" : "blabs",
						"x" : 30,
						"y" : 80
					}, {
						"name" : "H5Loading",
						"align" : "cc"
					}, {
						"name" : "controlBar",
						"align" : "blabs",
						"x" : 0,
						"y" : 0,
						"children" : [ {
							"name" : "progress",
							"align" : "blabs",
							"x" : 0,
							"y" : 44
						}, {
							"name" : "playButton",
							"align" : "tl",
							"x" : 15,
							"y" : 12
						}, {
							"name" : "fullScreenButton",
							"align" : "tr",
							"x" : 10,
							"y" : 12
						}, {
							"name" : "volume",
							"align" : "tr",
							"x" : 5,
							"y" : 10
						} ]
					} ]

				}, function(player) {
					console.log('一个播放器创建好了。')
				});
			}
		</script>
	</div>
</body>
</html>